/*General styles - Start*/

* {
    box-sizing: border-box;
}

body {

    font-family: 'Lato', sans-serif;
    color: #291f1a;
    margin: 0;
    font-weight: 300;
}

span {
	color: #1ac056;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

/* General styles - Stop */




/* Main Menu - Start*/

#main-nav {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 2;
}

#main-nav > ul {
    text-align: right;
    margin: 0;

}

#main-nav > ul > li {
    display: inline-block;
    list-style: none;
    padding: 15px 20px;
}

#main-nav > ul > li > a {
    text-decoration: none;
    color: #1ac056;
}

#main-nav > ul > li > a:hover {
    color: #000;
}

/* Main Menu - Stop */






/* Header - Start */

header#main-header {
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}

header#main-header > div.content {
    left: 0;
    right: 0;
    text-align: center;
    font-size:30px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    color: #fff;
}

header#main-header > div.content > h1 {
    margin: 0;
}

header#main-header > div.content > h1 > span {
    color: lime;
}

header#main-header > div.content > h2 {
    font-size: 25px;
}

/* Header - Stop */






/* Section About - Start */
section#about {
	background-color: white;
}
section#about > h2 {
    margin: 0;
    padding: 70px 1px 40px 1px;
    font-size:30px;
}
section#about > div.about-container {
    width: 100%;
    height: 450px;
    font-size: 0;
}
section#about > div.about-container > article.about-content {
    width: 45%;
    margin:0;
    display: inline-block;
    vertical-align: text-top;
}
section#about > div.about-container > article.about-content > figure {
    width: 50%;
    margin:0;
    height: 300px;
}
section#about > div.about-container > article.about-content > figure > img {
    width: 100%;
    margin-left:50%;
    border: 15px solid white;
}
section#about > div.about-container > article.about-content > p {
    top: 0;
    font-size: 15px;
    
}

section#about {
	background-color: #f9fcfe;
	overflow: hidden;
}

section#about > figure {
	width: 50%;
	margin: 0;
	float: left;
	text-align: center;
}

section#about > article {
	width: 50%;
	float: left;
}

section#about > figure > img {
	max-height: 350px;
	border: 14px #fff solid;
	border-radius: 15px;
	max-width: 100%;
}



/* Section About - Stop */





/* Section Skills - Start */

section#skills > h2 {
    padding-top: 40px;
    font-size:30px;
}
section#skills > p {
	text-align: center;
    padding:25px;
}

section#skills div#skills-icons {
	text-align: center;
}

section#skills #skills-icons figure {
	display: inline-block;
}

section#skills #skills-icons figure img {
	margin-bottom: 15px;
}
/* Section Skills - Stop */




/* Section Portfolio - Start */

section#portfolio > h2 {
    font-size:30px;
    padding-top:90px;
    padding-bottom:20px;
}
section#portfolio > div.portfolios {
    font-size: 0;
}
section#portfolio > div.portfolios > div#port-item-1 {
    background-image: url("../img/portfolio1.jpg");
}
section#portfolio > div.portfolios > div#port-item-2 {
    background-image: url("../img/portfolio2.jpg");
}
section#portfolio > div.portfolios > div#port-item-3 {
    background-image: url("../img/portfolio3.jpg");
}
section#portfolio > div.portfolios > div.port-item {
    background-repeat: no-repeat;
    background-size: cover;
    width: 33.3%;
    height: 350px;
    position: relative;
    display: inline-block;
}
section#portfolio > div.portfolios > div.port-item > div.port-mask {
    width: 100%;
	height: 100%;
    top: 0;
    background-color: rgba(77,25,45,0.5);    
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease-out;
}
section#portfolio > div.portfolios > div.port-item > div.port-mask:hover {
    opacity: 1;
}
section#portfolio > div.portfolios > div.port-item > div.port-mask > p {
    font-size: 15px;
    color: #fff;
}
/* Section Portfolio - Stop */

/* Section Contact - Start */
section#contact {
    background-color:#213b50;
    color:white;    
  
}

section#contact>div.container>div.container-address>h2 {
    text-align: left;
    width:60%;
    font-family:'Roboto' sans-serif;
    letter-spacing:1px;
    
}

section#contact>div.container {
    background-color:#213b50;
    display:inline-block;
    clear:both;
    width:100%;
    
}


section#contact>div.container>div.container-address {
    width:30%;
    float:left;
    margin-left:70px;
    margin-top:30px;
    margin-bottom:10px;

}

/* FORMULARZ CSS */

section#contact>div.container>div.container-form>form {
    display:inherit;
    background-color:#213b50;
    width:60%;
    float:right;
    margin-top:60px;
}

::-webkit-input-placeholder { 
    color:darkgray; 
}

section#contact>div.container>div.container-form>form>input[type="text"],[type="email"]{
    display:block;
    width:70%;
    height:50px;
    border:none;
    background-color:#2b4a64;

}

section#contact>div.container>div.container-form>form>textarea {
    display:block;
    width:70%;
    height:100px;
    border:none;
    background-color:#2b4a64;

}

section#contact>div.container>div.container-form>form>input[type="submit"] {
    color:white;
    background-color:#1ac056;
    padding:8px 25px;
    margin-left:457px;
}

/* LINKI-IKONY CSS */
section#contact>div.container>div.container-address>div.container-links {
    width:100%;
    margin-top:50px;
    margin-left:-16px;
    margin-bottom:10px;
   
}

section#contact>div.container>div.container-address>div.container-links>a:link {
    color:white;
    font-size:50px;
    padding:15px;
    
}


/* Section Contact - Stop */

/* Footer Styles - Start */

footer {
    background-color:#142634;
    color:white;
    height:25px;
    border:none;
}

footer>p {
    margin-left:65px;
    font-family: 'Roboto', sans-serif;
    padding-top:5px;
    margin-top:0px;
    margin-bottom:0px;
    
}
/* Footer Styles - Stop */